body {
  font-family: 'Orbitron', sans-serif;
  background: rgba(45, 86, 134, 1);
}

#container {
  border-style: solid;
  border-width: 3px;
  border-color: white;
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: rgba(64, 123, 191, 1);
  border-radius: 20px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  background: rgba(45, 86, 134, 1);
  color: white;
  margin: 0;
  padding: 10px 100px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  font-family: 'Orbitron', sans-serif;
  padding-left: 20px;
}

input {
  padding-left: 20px;
}

#billamt {
  margin-left: 30px;
  font-size: 14px;
  background-color: #f7f7f7;
  width: 70%;
  padding: 5px 5px 8px 8px;
}

#billamt:focus {
  border: 3px solid rgba(45, 86, 134, 1);
  outline: none;
}

#peopleamt {
  width: 66%;
  padding: 5px 5px 8px 8px;
  margin-left: 50px;
/*  color: #red;*/
  background-color: #f7f7f7;
  font-size: 14px;
}

#peopleamt:focus {
  border: 3px solid rgba(45, 86, 134, 1);
  outline: none;
}

#serviceQual {
  padding: 5px 100px 5px 10px;
  margin-left: 30px;
  font-size: 15px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: rgba(64, 123, 191, 1);
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}

button:hover {
  background: rgba(45, 86, 134, 1);
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 1px;
}

#totalTip {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}